<template>
  
  <div>
  <div class="button-container">
    <button class="Customise-button" @click="showModal = true">
      Customise
    </button>
    <Modal v-if="showModal" @close="showModal = false" :options="availableOptions" @save="saveColumns"></Modal>
     </div>
    <table class="table-auto w-full mt-8">
      <thead>
        <tr>
          <th v-for="column in updateColumns" @click="sort(column.key)" :key="column.key">
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(coin, index) in sortedCoins" :key="index" class="border-t-2 border-gray-300">
           <td class="px-4 py-4 text-black">{{ coin.market_cap_rank }}</td>
          <tr>
            <td><img :src="coin.image" class="coin-image" alt="Coin Image"></td> <!-- Adjust w-6 and h-6 for smaller size -->
            <td class="px-4 py-4 text-black" style="font-weight: bold; text-align: left;">{{ coin.name }} <b>{{ coin.symbol }}</b></td>
          </tr>
          <td class="px-4 py-4 text-black">{{ coin.current_price }}</td>
          <td class="px-4 py-4 text-black">{{ coin.market_cap }}</td>
          <td class="px-4 py-4 text-black">{{ coin.price_change_percentage_24h }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'fully_diluted_valuation')" class="px-4 py-4 text-black">{{ coin.fully_diluted_valuation }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'total_volume')" class="px-4 py-4 text-black">{{ coin.total_volume }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'high_24h')" class="px-4 py-4 text-black">{{ coin.high_24h }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'price_change_24h')" class="px-4 py-4 text-black">{{ coin.price_change_24h }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'market_cap_change_24h')" class="px-4 py-4 text-black">{{ coin.market_cap_change_24h }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'market_cap_change_percentage_24h')" class="px-4 py-4 text-black">{{ coin.market_cap_change_percentage_24h }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'circulating_supply')" class="px-4 py-4 text-black">{{ coin.circulating_supply }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'total_supply')" class="px-4 py-4 text-black">{{ coin.total_supply }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'max_supply')" class="px-4 py-4 text-black">{{ coin.max_supply }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'ath')" class="px-4 py-4 text-black">{{ coin.ath }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'ath_change_percentage')" class="px-4 py-4 text-black">{{ coin.ath_change_percentage }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'ath_date')" class="px-4 py-4 text-black">{{ coin.ath_date }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'atl')" class="px-4 py-4 text-black">{{ coin.atl }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'atl_change_percentage')" class="px-4 py-4 text-black">{{ coin.atl_change_percentage }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'atl_date')" class="px-4 py-4 text-black">{{ coin.atl_date }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'roi')" class="px-4 py-4 text-black">{{ coin.roi }}</td>
          <td v-if="updateColumns.some(uc => uc.key == 'last_updated')" class="px-4 py-4 text-black">{{ coin.last_updated }}</td>
        </tr>
      </tbody>
    </table>
</div>
</template>

<script>
import axios from 'axios';
import Modal from './Modal.vue';

export default {
  components: {
    Modal,
  },
  data() {
    return {
      showModal: false,
      availableOptions: [
        { key: 'fully_diluted_valuation', label: 'Fully Diluted Valuation' },
        { key: 'total_volume', label: 'Total Volume' },
        { key: 'high_24h', label: 'High 24h' },
        { key: 'price_change_24h', label: 'Price Change 24h' },
        { key: 'market_cap_change_24h', label: 'Market Cap Change 24h' },
        { key: 'market_cap_change_percentage_24h', label: 'Market Cap Change Percentage 24h' },
        { key: 'circulating_supply', label: 'Circulating Supply' },
        { key: 'total_supply', label: 'Total Supply' },
        { key: 'max_supply', label: 'Max Supply' },
        { key: 'ath', label: 'Ath' },
        { key: 'ath_change_percentage', label: 'Ath Change Percentage' },
        { key: 'ath_date', label: 'Ath Date' },
        { key: 'atl', label: 'Atl' },
        { key: 'atl_change_percentage', label: 'Atl Change Percentage' },
        { key: 'atl_date', label: 'Atl Date' },
        { key: 'roi', label: 'ROI' },
        { key: 'last_updated', label: 'Last Updated' },

      ],
      defultColumns: [
        { key: 'market_cap_rank', label: '#' },
        { key: 'name', label: 'Name' },
        { key: 'current_price', label: 'Current Price' },
        { key: 'market_cap', label: 'Market Cap' },
        { key: 'price_change_percentage_24h', label: 'Price Change Percentage 24h' },
      ],
      updateColumns : [
        { key: 'market_cap_rank', label: '#' },
        { key: 'name', label: 'Name' },
        { key: 'current_price', label: 'Current Price' },
        { key: 'market_cap', label: 'Market Cap' },
        { key: 'price_change_percentage_24h', label: 'Price Change Percentage 24h' },
      ],
      selectedColumns: [],

      coins: [],
      sortKey: '',
      sortOrders: {},
    };
  },
  computed: {

    sortedCoins() {
      if (!this.sortKey) {
        return this.coins;
      }
      return this.coins.sort((a, b) => {
        const modifier = this.sortOrders[this.sortKey] === 'desc' ? -1 : 1;
        if (typeof a[this.sortKey] === 'number' && typeof b[this.sortKey] === 'number') {
          return modifier * (a[this.sortKey] - b[this.sortKey]);
        } else {
          return modifier * a[this.sortKey].toString().localeCompare(b[this.sortKey].toString(), 'en', { sensitivity: 'base' });
        }
      });
    },
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    columns() {
      return this.defultColumns;
    },
    sort(key) {
      console.log("In sort function Key is : ",key)
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] === 'desc' ? 'asc' : 'desc';
    },
    fetchData() {
    const url = 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=false';
      axios.get(url)
        .then(response => {
          this.coins = response.data.map(coin => ({
            market_cap_rank: coin.market_cap_rank,
            image: coin.image,
            name: coin.name,
            symbol: coin.symbol,
            current_price: coin.current_price,
            market_cap: coin.market_cap,
            price_change_percentage_24h: coin.price_change_percentage_24h,
            fully_diluted_valuation: coin.fully_diluted_valuation,
            total_volume: coin.total_volume,
            high_24h: coin.high_24h,
            low_24h: coin.low_24h,
            price_change_24h: coin.price_change_24h,
            market_cap_change_24h: coin.market_cap_change_24h,
            market_cap_change_percentage_24h: coin.market_cap_change_percentage_24h,
            circulating_supply: coin.circulating_supply,
            total_supply: coin.total_supply,
            max_supply: coin.max_supply,
            ath: coin.ath,
            ath_change_percentage: coin.ath_change_percentage,
            ath_date: coin.ath_date,
            atl: coin.atl,
            atl_change_percentage: coin.atl_change_percentage,
            atl_date: new Date(coin.atl_date).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }),
            roi: coin.roi ? coin.roi : 'N/A',
            last_updated: new Date(coin.last_updated).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }),
            id: coin.id
          }));
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        }); 
     /*   this.coins = [
{
"id": "tether",
"symbol": "usdt",
"name": "Tether",
"image": "https://assets.coingecko.com/coins/images/325/large/Tether.png?1696501661",
"current_price": 1,
"market_cap": 104365155657,
"market_cap_rank": 3,
"fully_diluted_valuation": 104365155657,
"total_volume": 54567996925,
"high_24h": 1.004,
"low_24h": 0.9955,
"price_change_24h": 0.00027934,
"price_change_percentage_24h": 0.02794,
"market_cap_change_24h": 157512458,
"market_cap_change_percentage_24h": 0.15115,
"circulating_supply": 104362092743.913,
"total_supply": 104362092743.913,
"max_supply": null,
"ath": 1.32,
"ath_change_percentage": -24.39241,
"ath_date": "2018-07-24T00:00:00.000Z",
"atl": 0.572521,
"atl_change_percentage": 74.72905,
"atl_date": "2015-03-02T00:00:00.000Z",
"roi": null,
"last_updated": "2024-03-27T11:20:54.508Z"
      },
{
"id": "tether",
"symbol": "usdt",
"name": "Tether",
"image": "https://assets.coingecko.com/coins/images/325/large/Tether.png?1696501661",
"current_price": 1,
"market_cap": 104365155657,
"market_cap_rank": 3,
"fully_diluted_valuation": 104365155657,
"total_volume": 54567996925,
"high_24h": 1.004,
"low_24h": 0.9955,
"price_change_24h": 0.00027934,
"price_change_percentage_24h": 0.02794,
"market_cap_change_24h": 157512458,
"market_cap_change_percentage_24h": 0.15115,
"circulating_supply": 104362092743.913,
"total_supply": 104362092743.913,
"max_supply": null,
"ath": 1.32,
"ath_change_percentage": -24.39241,
"ath_date": "2018-07-24T00:00:00.000Z",
"atl": 0.572521,
"atl_change_percentage": 74.72905,
"atl_date": "2015-03-02T00:00:00.000Z",
"roi": null,
"last_updated": "2024-03-27T11:20:54.508Z"
},
      ]   */ 
  }, 
    saveColumns(newColumns) {
      console.log("newColumns are : ", newColumns)
      this.updateColumns = this.defultColumns
      this.updateColumns = [...this.defultColumns,...newColumns];
    },
  },
};
</script>

<style scoped>
.coin-image {
    width: 30px;
    height: 30px;
}

th {
  color: rgb(39, 38, 38);
  font-weight: 550;
  padding: 10px;
  cursor: pointer;
  border-top: 2px solid rgb(233, 225, 225);;
  border-bottom: 2px solid rgb(233, 225, 225);
  text-align: left;

}

td {
  padding: 10px;
  color: black;
  text-align: left;

}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px;
}

.Customise-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
</style>
