<template>
 <div class="bg-white">
  <Table/>
 </div>
</template>


<script setup>
import Table from './components/Table.vue';
import { ref } from 'vue'



</script>



<style scoped>

/* Add any global styles here */
.bg-white {
  background-color: white;
}


</style>
